
@inject UserManager<AppUser> UserManager
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CustomIdentity.Models.GroupModel>

@{
ViewData["Title"] = "Index";
var user = UserManager.GetUserAsync(User).Result;
var userRole = user?.RoleName;
}


<h1>Index</h1>
@if (userRole == "Admin")
{
    <p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (userRole == "Teacher")
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @if (userRole == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
